<header>
  <h1>{{ title }}</h1>

  <!--Added Styling to buttons using @Input decorator-->
  <!--Passing data to components-->
  <!--!Use case - 1: [property] binding when you need to pass dynamic values or evaluate expressions-->
  <!--!Use case - 2: 'property' when you pass STATIC, LITERAL STRINGS-->

  <!--Todo: Based on the click Event on the Button, the color and text gets modified dynamically.-->
  <app-button *ngIf="hasRoute('/')"
    color="{{ showAddTask ? 'red' : 'green'}}" 
    text="{{ showAddTask ? 'Close' : 'Add'}}"
    (btnClick)="toggleAddTask()"
  ></app-button>
  
</header>